<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot API</title>
</head>
<body>
    <h1>Welcome to the Chatbot API</h1>
    <p>This is a Django-based API for interacting with a chatbot.</p>
    <ul>
        <li><a href="/api/chat/">Chat Endpoint (POST)</a></li>
        <li><a href="/api/chat/history/">Chat History Endpoint (GET)</a></li>
        <h5>Created by Madhav</h5>
    </ul>
</body>
</html>
